.share
  span.share__btn.share__btn--facebook(
    title="share on facebook"
    aria-label="share on facebook"
    data-sharer="facebook"
    data-hashtag="qwerty"
    data-url="http://test.surge.sh/blog-page.html")
    +svgMono('facebook')
  span.share__btn.share__btn--twitter(
    title="share on twitter"
    aria-label="share on twitter"
    data-sharer="twitter"
    data-title="Page title"
    data-hashtags="qwerty"
    data-url="http://test.surge.sh/blog-page.html")
    +svgMono('twitter')
  span.share__btn.share__btn--vk(
    title="share on vk"
    aria-label="share on vk"
    data-sharer="vk"
    data-title="Page title"
    data-url="http://test.surge.sh/blog-page.html")
    +svgMono('vk')
